.background-img {
  background-image: url("/public/images/skipping-dogs.jpg");
  background-color: rgb(236, 232, 228);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}