*, *:before, *:after {
  box-sizing: border-box;
}

.dogapp {
  display: flex;
  flex-direction: column;
  width:fit-content;
  block-size: fit-content;
  padding:20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 5px solid black;
}

.title {
  font-weight: 600;
}

.component {
  padding-bottom: 10px;
  padding-top: 10px;

}

.inputtext {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  box-shadow:0 0 15px 10px rgba(0,0,0,0.06);
  border-radius:10px;
}

.input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius:10px;
}


.input:focus {
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
}

#description {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: flex-start;
}

select {
  width: 100%;
  padding:10px;
  border-radius:10px;
}

textarea {
  resize: none;
  width: 600px;
  height: 200px;
}

.title:after {
  color: #e32;
  content: ' *';
  display:inline;
}



#submit {
  background-color: white;
  background: transparent;
  border-radius: 10px;
  color: rgb(38, 148, 38);
  outline-color: rgb(38, 148, 38);
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-color: rgb(38, 148, 38);;
  border-style: solid;
}

#submit:hover {
  background-color: rgb(38, 148, 38);;
  color: white;
  outline-color: white;
}