*, *:before, *:after {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width:fit-content;
  block-size: fit-content;
  margin: auto;
  padding: 5px;
  margin-top: 3vh;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.039);
  border-radius: 10px;
  background-color: rgba(245, 245, 220, 0.789);
  max-height: 70vh;
  /* overflow: hidden; */
  overflow-y: scroll;
}


.title {
  font-weight: 600;
}

.component {
  padding-bottom: 10px;
  padding-top: 10px;

}

.scrollbox {
  height:200px;
  overflow-x:scroll;
}
.inputtext {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:10px;
  width: 200px
}

.inputtext:focus {
  border: 0;
  box-shadow:0 0 15px 10px rgba(0,0,0,0.06);
}

.input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius:10px;
}

.status_image{
  width: 15%;
  height: 15%;
}

#description {
  width: 400px;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:10px;
  font-family: 'Montserrat', sans-serif;
}

select {
  width: 100%;
  padding:10px;
  border-radius:10px;
}

textarea {
  resize: none;
  width: 600px;
  height: 200px;
}

.title:after {
  color: #e32;
  content: ' *';
  display:inline;
}

.submitbtn {
  background: transparent;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-color: rgb(38, 148, 38);;
  border-style: solid;
  background-color: rgb(38, 148, 38);;
  color: white;
  outline-color: white;
}

.submitbtn:hover {
  background-color: white;
  color: rgb(38, 148, 38);
  outline-color: rgb(38, 148, 38);
  cursor: pointer;
}

/* .userapp {
  margin-top: 70px;
  height: 800px;
  overflow: overlay;
}*/

.dogapp {
  width: 750px;
  overflow: overlay;
} 

.photoupload {
 padding-left: 30px;
 padding-right: 30px;
}

.scrollbox {
width: 400px;
margin: auto;
}

.breedscroll {
  width: fit-content
}