.dogapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-weight: 600;
}

.component {
  padding-bottom: 25px;

}