.guest-greeting {
display: flex;
flex-direction: column;
align-items: flex-start;
align-self: flex-end;
font-family: "Montserrat", sans-serif;
margin-top: 400px;
margin-left: 0px;
margin-right: 300px;
padding: 20px;
text-align: left;
background-color: rgba(250, 235, 215, 0.667);
width: 100%
}

.guest-greeting:hover {
  background-color: rgb(250, 235, 215);
  font-weight: 600;
}

.intro {
  margin-left: 80px;
}

.register-account {
  margin-left: 80px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.sign-up {
  text-decoration: underline;
}

