.ownerProfile {
  display: flex;
  float: left;
  flex-direction: column;
  margin: auto;
  border: 3px solid black;
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  height: 600px;
  overflow: auto;
  margin-bottom: 20px;
  background-color: rgba(245, 245, 220, 0.789);
}


.userpic {
  width: 360px;
  height: 300px;
  object-fit: cover;
  float: right;
  border: 3px solid black;
}

.user-photo {
  float: left;
}