.login-box {
  margin-top: 40px;
 margin-right: 10px;
 background-color: transparent;
  border: none;
  margin: auto;
  width: 290px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.login {
  font-family: "Montserrat", sans-serif;
  height: 20px;
  font-weight: 600;
}

.sign-in-btn {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(60, 54, 5);
  margin-top: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  outline-color: rgb(255, 255, 255);
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}

.sign-in-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 54, 5);
  outline-color: rgb(60, 54, 5);
  cursor: pointer;
}
