.main-box {
  display: flex;
  float: right;
  flex-direction: column;
  height: 80vh;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.154);
  width: 300px;
  background-color: rgba(250, 227, 197, 0.835);
  opacity: 0.9;
  border-radius: 10px;
}

.main-box:hover {
  cursor: pointer;
  opacity: 1;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.message-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  float: right;
  margin-bottom: 10px;
}

.news-article {
  margin: 10px;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.news-title {
  font-family: "Montserrat", sans-serif;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.breaker {
  border-bottom: 1px solid black;
}

.article {
  border-bottom: 3px solid black;
  -webkit-animation-name: move;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: up;
  -webkit-animation-timing-function: linear;
}
