.doggos {
  size: 70%;
  margin-top: 30px;
  margin-left: 160px;
  margin: auto;
  display: flex;
  gap: 1.1em;
  width: 70%;
  /* adds scrolling for the element: */
  overflow-x: scroll;
  overflow: auto;
  /* removes the horizontal scrollbar: */
  scrollbar-width: none;
  border: 2px black;
}

.doggos-item {
  min-width: 360px;
  /* carousel item should have defined height: */
  height: 540px;
  border-radius: 0.4em;
  background-position: center;
  background-size: cover;
  opacity: 0.85;
  transition: 300ms ease;
}

.dog-container {
  max-width: 70%;
  max-height: 70%;
}


/* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */